
  <div class="section">
    <h2> Login </h2>
    <form method="post" action="/login">
      <input type="text" name="email" placeholder="Email"> <br />
      <input type="password" name="password" placeholder="Password"> <br />
      <br />
      <input type="submit" value="Log In">
    </form>
  </div>