
<div class="section">
  <h3> Add A New Task </h3>
  <br />

  <form method="post" action="/list/new">
    <textarea name="description"></textarea> <br />
    <br />
    <input type="submit" value="Add Task">
  </form>
</div>
