
  <div id="header">
    <a id="home_button" href="/"><h1 id="title"> My Todo List </h1></a>
    <% if session[:token] %>
      <a id="new_task_button" href="/list/new">+</a>
      <a id="logout_button" href="/logout"> Logout </a>
    <% end %>
  </div>